@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700;800;1000&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}
:root{
    --mainColor:#f7a220;
    --grayColor : #3f3e40;
    --backGround : #ffffff;
    /* --fontColor : rgb(4, 113, 9); */
    --fontColor : #4070f4;
}
.navbar{
    background-color: var(--fontColor) !important;
}
section p{
    
}
.logo span {
    color: var(--mainColor);
}

.logo img {
    width: 50px;
    height: 50px;
}
.logo{

    display: flex;
    align-items: center;
}
section{
    height: 90vh;
    width: 100%;
    background-color: var(--backGround);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.introduction{
    width: 50%;
    height: 50%;
    padding-right: 70px;
    /* background-color: beige; */
    font-family: 'Cairo', sans-serif;

    

}
.introduction p , .introduction span {
    font-family: inherit;
    font-size: 43px ;

}
.form {
    /* background: rgba(149, 149, 255, 0.138); */
    height: 50%;
    width: 50%;
    font-family: 'Tajawal', sans-serif;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cairo', sans-serif;


}
.info-name, .info-num-naiss{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.info-name input,.number input , .dateNaiss input{
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
}   
.name ,.email ,.dateNaiss ,.number{
    width: 50%;
}

form p{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Cairo', sans-serif;
    text-align: right;

}
.language img{
    width: 50px;
    height: 50px;
}
.language div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.language {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    gap: 22px;
    width: 188px;
    height: 66px;
    background-color: #93deff;
    position: absolute;
    left: 58px;
    border-radius: 41px;
    padding-left: 52px;
    padding-right: 37px;
    top: 92px;
    
}
.language p{
    font-size: 25px;
    font-weight: 700;
}

form div{
    margin: 10px 0;
}
.gender div {
    display: flex;
    justify-content: center ;
    
    
}.introduction p{
    position: relative;
    font-size: 20px;
    text-align: right;
    font-size: 50px;
    /* margin-right:  70px; */


}
.introduction p span{
    position: absolute;
    top: -59px;
    right: 0px;
    font-size: 50px;

}
.gender div p {
    margin: 0 25px;
}
/* voice */
.btn{
    padding: 15px 282px;
    border-radius: 46px;
    border: none;
    background: var(--fontColor);
    font-size: 23px;
    font-weight: 600;
    color: white;
}
.voice{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 90px;
    height: 90px;
    background-color: #93deff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.voice img{
    width: 50px;height: 50px;
    
}
.hot-number{
    position: absolute;
    padding-right: 20px;
    bottom: 30px;
    right: 207px;
    display: flex;
    background: #9dff9d;
    border-radius: 81px;
    width: 282px;
    gap: 50px;

}
.message{
    position: relative;

}
.message img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 47px;
    left: 31px;
}

.hot-number::before{
    content: "";
    height: 50px;
    width: 3px;
    background-color: #5a5a5a;
    position: absolute;
    left: 83px;
    border-radius: 10px;
    top: 5px;
}
.hot-number img{
    width: 50px;
    height: 50px;
}
/* wiqaya party */
.wiqaya{
    display: flex;
    gap: 180px;
    margin: 22px 0;
    
}
.view-more{
    color: #fff;
    background: #56bdf9;
    border-radius: 19px;
    margin-top: 16px;
    font-size: 18px;
}
.wiqaya img{
    width: 400px;
    height: 231px;
    border-radius: 48px;
}
.wiqaya{
    display: flex;
    flex-wrap: wrap;
    gap: 180px;
    margin: 22px 0;
    border: 1px solid #b9b9b9;
    border-radius: 37px;
    padding: 29px;
    box-shadow: 9px 6px 20px 0px #cdcdcd;
}
.content-service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 130px;
}
.contact-content{
    height: 100vh;
    width: 100%;
}
/* web site response */
@media (max-width: 920px) {
    section {
        flex-direction: column; 
        gap: 577px;
    }
    .introduction p{
    width: 637px;
    margin-right: -127px;
    margin-top: 326px;
    
    }
    .language {
        
        width: 147px;
        height: 58px;
        left: 23px;
        padding-left: 87px;
        padding-right: 37px;
        top: 100px;
    }
    .language p{
        font-size: 21px;
        padding-right: 11px;
    }
    .btn{
        padding :13px 40% !important;
    }
    .hot-number {
        right: 90px;
    }
    .voice{
        width: 75px;
        height: 75px;
    }
    .message img{
        left: -21px ;
    }
    .name, .email, .dateNaiss, .number {
        width: 100%;
    }
    .form{
        width: 88%;
    height: 100%;
    }
    form{
        margin-top: 20px;
        padding-right: 5px;
        
    }
    .form p{
        width: 104%;
        margin-right: 17px;
    }
}

/* gap: 678px; */

@media only screen and  (max-width: 390px){
    .introduction p {
        width: 100%;
    /* margin-right: -76px; */
    
    font-size: 28px;
    }
}
@media only screen and  (max-height: 900px){
    form{
        margin-top: 45px;
        padding-right: 57px;
        
    }

    
}
@media only screen and  (max-width: 1190px){
    .introduction p{
        font-size: 35px;
    }
}
@media only screen and  (max-width: 1370px){
    .info-name input, .number input, .dateNaiss input {
        width:95%;
    }
    form p {
        width: 94%;
    }
    .name, .email, .dateNaiss, .number {
        width: 41%;
    }
    .info-name, .info-num-naiss{
        justify-content:right;
        gap: 23px;
    }
     .message{
        width: 84%;

    }
    textarea{
        width: 100%;
    }
    .btn{
        padding: 13px 34%;
    }
    form p {
        font-size: 16px;
    }
    .hot-number{
        right: 79px;
    }
}
@media only screen and  (max-width: 1550px){
    .wiqaya{
        flex-direction: column;
        gap: 60px;
    }
}